.sidebar{
    background-color: rgb(15, 15, 15);
    color: rgb(240, 244, 248);
    height: 100vh;
    width:320px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:10px;
    padding: 10px;
    border:1px solid rgb(232, 240, 240);
    border-radius:9px;
    background-color: rgb(35, 33, 33);
    cursor:pointer;
}
.logo{
    height: 25px;
    width:25px;
    background-color:whitesmoke ;
    border-radius: 50%;
    object-fit: cover;
}

button span{
    font-size: 20px;
}

button:hover{
    background-color: rgba(255,255,255,0.5);
}
.history{
    margin: 10px;
    padding:10px;
    height:100%;

}

.history li{
    list-style-type: none;
    cursor:pointer;
    padding:2px 5px;
    font-size: 20px;
    border: solid 10px transparent;
    position:relative;
}

.history li:hover{
    background-color: rgba(84, 82, 82, 0.6);
    border-radius:4px solid  rgb(188, 232, 232);
}

.sign{
    margin:10px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top:3px solid rgb(188, 232, 232);
    background-color: rgb(15, 15, 15);
    cursor:pointer;
}

.fa-trash{
    opacity:0;
    position:absolute;
    right:0;
}

.history li:hover .fa-trash{
    opacity:1;
}

.fa-trash:hover{
    color: red;
}

.highlight:hover{
    background-color: rgba(84, 82, 82, 0.6);
    border-radius:  10px;
}